<div class="register-container">
  <div class="register-header">
    <!-- The h1 is set dynamically from the controller -->
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    <p>ALL FIELDS ARE REQUIRED.</p>
  </div>

  <!-- This block will display any flash messages sent from the server -->
  <% if (errors) { %>
  <div class="flash-message">
    <p><%= errors.message %></p>
  </div>
  <% } %>

  <!-- Registration Form -->
  <form id="registerForm" action="/account/register" method="post">
    <div class="input-group">
      <label for="account_firstname">First Name</label>
      <input
        type="text"
        id="account_firstname"
        name="account_firstname"
        class="input-field"
        required >
    </div>

    <div class="input-group">
      <label for="account_lastname">Last Name</label>
      <input
        type="text"
        id="account_lastname"
        name="account_lastname"
        class="input-field"
        required
      >
    </div>

    <div class="input-group">
      <label for="account_email">Email Address</label>
      <input
        type="email"
        id="account_email"
        name="account_email"
        class="input-field"
        required
      >
    </div>

    <div class="input-group">
      <label for="account_password">Password</label>
      <div class="password-wrapper">
        <input
          type="password"
          id="account_password"
          name="account_password"
          class="input-field"
          required
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
          title="Password must be at least 12 characters and contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character."
        >
        <button type="button" id="togglePassword">
          <svg
            id="eye-open"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path
              fill-rule="evenodd"
              d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.022 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            id="eye-closed"
            class="hidden"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3.707 2.293a1 1 0 00-1.414 1.414l14 14a1 1 0 001.414-1.414l-1.473-1.473A10.014 10.014 0 0019.542 10C18.268 5.943 14.478 3 10 3a9.958 9.958 0 00-4.512 1.074l-1.78-1.781zm4.261 4.26l1.514 1.515a2.003 2.003 0 012.45 2.45l1.514 1.514a4 4 0 00-5.478-5.478z"
              clip-rule="evenodd"
            />
            <path
              d="M12.454 16.697L9.75 13.992a4 4 0 01-3.742-3.741L2.335 6.578A10.025 10.025 0 01.458 10c1.274 4.057 5.022 7 9.542 7 1.126 0 2.206-.24 3.22-.672l-1.066-1.066z"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Password Requirements List -->
    <ul id="passwordRules">
      <li>Must be at least 12 characters.</li>
      <li>Must contain at least 1 uppercase letter.</li>
      <li>Must contain at least 1 number.</li>
      <li>Must contain at least 1 special character.</li>
    </ul>

    <div class="input-group">
      <button type="submit" class="submit-btn">Register</button>
    </div>
  </form>
</div>
<script src="/js/script.js"></script>
