<%# The title for this view is "Vehicle Management" %>
    <h1>Vehicle Management</h1>

    <%# Display flash messages if any exist %>
        <%- messages() %>

            <div class="management-links">
                <ul>
                    <li><a href="/inv/add-classification">Add New Classification</a></li>
                    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
                </ul>
            </div>